
/* body 部 */
#body-items{
    background-color: #333;
}

/* header 部 */
#header-items{
    text-align: center;
    border-bottom: solid 3px skyblue;
    position: relative;
    margin-bottom: 50px;
}

#header-items:after{
    position: absolute; /* 親タグから抜け出し配置*/
    content: " ";
    display: block;
    border-bottom: solid 3px #ffc778;
    width: 20%;
}

#header-title{
    color:white;
}

/* section部 */

section{
    padding-left: 50px;
    padding-right: 50px;
}

@media (min-width: 1200px) {
    section{
    padding-left: 200px;
    padding-right: 200px;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    gap:40px;
}

.content-box {
    text-align: center;
    width: 30%;
    border: solid 3px skyblue;
    padding: 5%
}

@media (min-width: 1200px) {
.content-box {
    text-align: center;
    width: 20%;
    border: solid 3px skyblue;
    padding: 5%
    }
}

.content-text-color {
    color:white;
    font-size: clamp(5px,3vw,60px);
}
.content-text-color:hover{
    color:#ffc778;
}

/* footer 部 */
#footer-items{
    border-top: solid 3px skyblue;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 10px 20px 10px;
}

nav ul{
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
    }
    nav ul li{
    display: table-cell;
    position: relative;
    }
    nav ul li a{
    display: block;
    width: 100%;
    }
    nav ul li a::after,
    nav ul li a::before {
    display: block;
    content: ”;
    position: absolute;
    }
    nav ul li a::after {
    bottom: -50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background-color: #ccc;
    border-radius: 100%;
    }
    nav ul li a.current::after {
    background-color: #3498db;
    }
    nav ul li a:hover{
    color: #3498db;
    }
    nav ul li a:hover:after {
    background-color: yellow;
    width: 100%;
    left: 0;
    border-radius: 5px;
    }
    nav ul li a{
    text-decoration: none;
    color:white;
    }
    nav ul li a.current{
    color:#555;
    }